In [282]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 


import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['train.csv', 'gender_submission.csv', 'test.csv']

In [283]:
train_data= pd.read_csv('../input/train.csv')
test_data = pd.read_csv('../input/test.csv')
gender_submisson = pd.read_csv('../input/gender_submission.csv')

In [284]:
train_data.head()

   PassengerId  Survived  Pclass    ...        Fare Cabin  Embarked
0            1         0       3    ...      7.2500   NaN         S
1            2         1       1    ...     71.2833   C85         C
2            3         1       3    ...      7.9250   NaN         S
3            4         1       1    ...     53.1000  C123         S
4            5         0       3    ...      8.0500   NaN         S

[5 rows x 12 columns]

In [285]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [286]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

There are null values in Age,cabin,Embarked. Lets replace null values in Age with mean, Embarked with Mean and remove cabin

In [287]:
# Update sex column to numerical

train_data['Sex'] = train_data['Sex'].apply(lambda x: 1 if x=='male' else 0)
train_data.head()

   PassengerId  Survived  Pclass    ...        Fare  Cabin  Embarked
0            1         0       3    ...      7.2500    NaN         S
1            2         1       1    ...     71.2833    C85         C
2            3         1       3    ...      7.9250    NaN         S
3            4         1       1    ...     53.1000   C123         S
4            5         0       3    ...      8.0500    NaN         S

[5 rows x 12 columns]

In [288]:
test_data['Sex'] = test_data['Sex'].apply(lambda x: 1 if x=='male' else 0)

In [289]:
#print(train_data['Age'].values)
mean_age = train_data.Age.mean()
train_data['Age'].fillna(value = mean_age, inplace = True)

In [290]:
#print(train_data['Age'].values)
mean_age = test_data.Age.mean()
test_data['Age'].fillna(value = mean_age, inplace = True)

In [291]:
print(train_data['Age'].values)

[22.         38.         26.         35.         35.         29.69911765
 54.          2.         27.         14.          4.         58.
 20.         39.         14.         55.          2.         29.69911765
 31.         29.69911765 35.         34.         15.         28.
  8.         38.         29.69911765 19.         29.69911765 29.69911765
 40.         29.69911765 29.69911765 66.         28.         42.
 29.69911765 21.         18.         14.         40.         27.
 29.69911765  3.         19.         29.69911765 29.69911765 29.69911765
 29.69911765 18.          7.         21.         49.         29.
 65.         29.69911765 21.         28.5         5.         11.
 22.         38.         45.          4.         29.69911765 29.69911765
 29.         19.         17.         26.         32.         16.
 21.         26.         32.         25.         29.69911765 29.69911765
  0.83       30.         22.         29.         29.69911765 28.
 17.         33.         16.         29.69911765 23.         24.
 29.         20.         46.         26.         59.         29.69911765
 71.         23.         34.         34.         28.         29.69911765
 21.         33.         37.         28.         21.         29.69911765
 38.         29.69911765 47.         14.5        22.         20.
 17.         21.         70.5        29.         24.          2.
 21.         29.69911765 32.5        32.5        54.         12.
 29.69911765 24.         29.69911765 45.         33.         20.
 47.         29.         25.         23.         19.         37.
 16.         24.         29.69911765 22.         24.         19.
 18.         19.         27.          9.         36.5        42.
 51.         22.         55.5        40.5        29.69911765 51.
 16.         30.         29.69911765 29.69911765 44.         40.
 26.         17.          1.          9.         29.69911765 45.
 29.69911765 28.         61.          4.          1.         21.
 56.         18.         29.69911765 50.         30.         36.
 29.69911765 29.69911765  9.          1.          4.         29.69911765
 29.69911765 45.         40.         36.         32.         19.
 19.          3.         44.         58.         29.69911765 42.
 29.69911765 24.         28.         29.69911765 34.         45.5
 18.          2.         32.         26.         16.         40.
 24.         35.         22.         30.         29.69911765 31.
 27.         42.         32.         30.         16.         27.
 51.         29.69911765 38.         22.         19.         20.5
 18.         29.69911765 35.         29.         59.          5.
 24.         29.69911765 44.          8.         19.         33.
 29.69911765 29.69911765 29.         22.         30.         44.
 25.         24.         37.         54.         29.69911765 29.
 62.         30.         41.         29.         29.69911765 30.
 35.         50.         29.69911765  3.         52.         40.
 29.69911765 36.         16.         25.         58.         35.
 29.69911765 25.         41.         37.         29.69911765 63.
 45.         29.69911765  7.         35.         65.         28.
 16.         19.         29.69911765 33.         30.         22.
 42.         22.         26.         19.         36.         24.
 24.         29.69911765 23.5         2.         29.69911765 50.
 29.69911765 29.69911765 19.         29.69911765 29.69911765  0.92
 29.69911765 17.         30.         30.         24.         18.
 26.         28.         43.         26.         24.         54.
 31.         40.         22.         27.         30.         22.
 29.69911765 36.         61.         36.         31.         16.
 29.69911765 45.5        38.         16.         29.69911765 29.69911765
 29.         41.         45.         45.          2.         24.
 28.         25.         36.         24.         40.         29.69911765
  3.         42.         23.         29.69911765 15.         25.
 29.69911765 28.         22.         38.         29.69911765 29.69911765
 40.         29.         45.         35.         29.69911765 30.
 60.         29.69911765 29.69911765 24.         25.         18.
 19.         22.          3.         29.69911765 22.         27.
 20.         19.         42.          1.         32.         35.
 29.69911765 18.          1.         36.         29.69911765 17.
 36.         21.         28.         23.         24.         22.
 31.         46.         23.         28.         39.         26.
 21.         28.         20.         34.         51.          3.
 21.         29.69911765 29.69911765 29.69911765 33.         29.69911765
 44.         29.69911765 34.         18.         30.         10.
 29.69911765 21.         29.         28.         18.         29.69911765
 28.         19.         29.69911765 32.         28.         29.69911765
 42.         17.         50.         14.         21.         24.
 64.         31.         45.         20.         25.         28.
 29.69911765  4.         13.         34.          5.         52.
 36.         29.69911765 30.         49.         29.69911765 29.
 65.         29.69911765 50.         29.69911765 48.         34.
 47.         48.         29.69911765 38.         29.69911765 56.
 29.69911765  0.75       29.69911765 38.         33.         23.
 22.         29.69911765 34.         29.         22.          2.
  9.         29.69911765 50.         63.         25.         29.69911765
 35.         58.         30.          9.         29.69911765 21.
 55.         71.         21.         29.69911765 54.         29.69911765
 25.         24.         17.         21.         29.69911765 37.
 16.         18.         33.         29.69911765 28.         26.
 29.         29.69911765 36.         54.         24.         47.
 34.         29.69911765 36.         32.         30.         22.
 29.69911765 44.         29.69911765 40.5        50.         29.69911765
 39.         23.          2.         29.69911765 17.         29.69911765
 30.          7.         45.         30.         29.69911765 22.
 36.          9.         11.         32.         50.         64.
 19.         29.69911765 33.          8.         17.         27.
 29.69911765 22.         22.         62.         48.         29.69911765
 39.         36.         29.69911765 40.         28.         29.69911765
 29.69911765 24.         19.         29.         29.69911765 32.
 62.         53.         36.         29.69911765 16.         19.
 34.         39.         29.69911765 32.         25.         39.
 54.         36.         29.69911765 18.         47.         60.
 22.         29.69911765 35.         52.         47.         29.69911765
 37.         36.         29.69911765 49.         29.69911765 49.
 24.         29.69911765 29.69911765 44.         35.         36.
 30.         27.         22.         40.         39.         29.69911765
 29.69911765 29.69911765 35.         24.         34.         26.
  4.         26.         27.         42.         20.         21.
 21.         61.         57.         21.         26.         29.69911765
 80.         51.         32.         29.69911765  9.         28.
 32.         31.         41.         29.69911765 20.         24.
  2.         29.69911765  0.75       48.         19.         56.
 29.69911765 23.         29.69911765 18.         21.         29.69911765
 18.         24.         29.69911765 32.         23.         58.
 50.         40.         47.         36.         20.         32.
 25.         29.69911765 43.         29.69911765 40.         31.
 70.         31.         29.69911765 18.         24.5        18.
 43.         36.         29.69911765 27.         20.         14.
 60.         25.         14.         19.         18.         15.
 31.          4.         29.69911765 25.         60.         52.
 44.         29.69911765 49.         42.         18.         35.
 18.         25.         26.         39.         45.         42.
 22.         29.69911765 24.         29.69911765 48.         29.
 52.         19.         38.         27.         29.69911765 33.
  6.         17.         34.         50.         27.         20.
 30.         29.69911765 25.         25.         29.         11.
 29.69911765 23.         23.         28.5        48.         35.
 29.69911765 29.69911765 29.69911765 36.         21.         24.
 31.         70.         16.         30.         19.         31.
  4.          6.         33.         23.         48.          0.67
 28.         18.         34.         33.         29.69911765 41.
 20.         36.         16.         51.         29.69911765 30.5
 29.69911765 32.         24.         48.         57.         29.69911765
 54.         18.         29.69911765  5.         29.69911765 43.
 13.         17.         29.         29.69911765 25.         25.
 18.          8.          1.         46.         29.69911765 16.
 29.69911765 29.69911765 25.         39.         49.         31.
 30.         30.         34.         31.         11.          0.42
 27.         31.         39.         18.         39.         33.
 26.         39.         35.          6.         30.5        29.69911765
 23.         31.         43.         10.         52.         27.
 38.         27.          2.         29.69911765 29.69911765  1.
 29.69911765 62.         15.          0.83       29.69911765 23.
 18.         39.         21.         29.69911765 32.         29.69911765
 20.         16.         30.         34.5        17.         42.
 29.69911765 35.         28.         29.69911765  4.         74.
  9.         16.         44.         18.         45.         51.
 24.         29.69911765 41.         21.         48.         29.69911765
 24.         42.         27.         31.         29.69911765  4.
 26.         47.         33.         47.         28.         15.
 20.         19.         29.69911765 56.         25.         33.
 22.         28.         25.         39.         27.         19.
 29.69911765 26.         32.        ]

In [292]:
train_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [293]:
# Select the desired features
train_data = train_data[[ 'PassengerId', 'Survived', 'Pclass','Name','Sex', 'Age', 'SibSp', 'Parch', 'Ticket','Fare'] ]
# Select the desired features
test_data = test_data[[ 'PassengerId', 'Pclass','Name','Sex', 'Age', 'SibSp', 'Parch', 'Ticket','Fare'] ]

In [294]:
train_data.head()

   PassengerId  Survived  Pclass   ...    Parch            Ticket     Fare
0            1         0       3   ...        0         A/5 21171   7.2500
1            2         1       1   ...        0          PC 17599  71.2833
2            3         1       3   ...        0  STON/O2. 3101282   7.9250
3            4         1       1   ...        0            113803  53.1000
4            5         0       3   ...        0            373450   8.0500

[5 rows x 10 columns]

In [295]:
# Create a Upper column
train_data['Upper'] = train_data['Pclass'].apply(lambda x: 1 if x==1 else 0)

# Create a Middle column
train_data['Middle'] = train_data['Pclass'].apply(lambda x: 1 if x==2 else 0)

# Create a Lower column
train_data['Lower'] = train_data['Pclass'].apply(lambda x: 1 if x==3 else 0)

In [296]:
# Create a Upper column
test_data['Upper'] = test_data['Pclass'].apply(lambda x: 1 if x==1 else 0)

# Create a Middle column
test_data['Middle'] = test_data['Pclass'].apply(lambda x: 1 if x==2 else 0)

# Create a Lower column
test_data['Lower'] = test_data['Pclass'].apply(lambda x: 1 if x==3 else 0)

In [297]:
train_data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Upper          0
Middle         0
Lower          0
dtype: int64

In [298]:
# Select the desired features
selected_features = ['Sex', 'Age', 'Upper', 'Middle', 'Lower', 'SibSp', 'Parch', 'Fare'] #

# Select the desired features
features = train_data[selected_features]
survival = train_data['Survived']

In [299]:
features.head()

   Sex   Age  Upper  Middle  Lower  SibSp  Parch     Fare
0    1  22.0      0       0      1      1      0   7.2500
1    0  38.0      1       0      0      1      0  71.2833
2    0  26.0      0       0      1      0      0   7.9250
3    0  35.0      1       0      0      1      0  53.1000
4    1  35.0      0       0      1      0      0   8.0500

In [300]:
# Perform train, test, split

train_features, test_features, train_labels, test_labels = train_test_split(features, survival, train_size = 0.8)

/opt/conda/lib/python3.6/site-packages/sklearn/model_selection/_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [301]:
test_data1 = test_data[selected_features]

In [302]:
test_data1.isnull().sum()

Sex       0
Age       0
Upper     0
Middle    0
Lower     0
SibSp     0
Parch     0
Fare      1
dtype: int64

In [303]:
#print(train_data['Age'].values)
mean_fare = test_data1.Fare.mean()
test_data1['Fare'].fillna(value = mean_fare, inplace = True)

/opt/conda/lib/python3.6/site-packages/pandas/core/generic.py:5434: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [304]:
# Scale the feature data so it has mean = 0 and standard deviation = 1
normalize = StandardScaler()
train_features = normalize.fit_transform(train_features)
test_features = normalize.transform(test_features)
test_data1 =normalize.transform(test_data1)

/opt/conda/lib/python3.6/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/opt/conda/lib/python3.6/site-packages/sklearn/base.py:464: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  after removing the cwd from sys.path.
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:5: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  """

In [305]:
# Create and train the model
model = LogisticRegression()
model.fit(train_features, train_labels)

/opt/conda/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [306]:
# Score the model on the train data
print(model.score(train_features, train_labels))

0.8019662921348315

In [307]:
# Score the model on the test data
print(model.score(test_features, test_labels))

0.8044692737430168

In [308]:
print(list(zip(selected_features, model.coef_[0])))

[('Sex', -1.2732380942521757), ('Age', -0.4485672639199203), ('Upper', 0.4421957280586067), ('Middle', 0.05773844492915665), ('Lower', -0.4245908054687876), ('SibSp', -0.29630759267397294), ('Parch', -0.15837464440687885), ('Fare', 0.18162972540961697)]

In [309]:
prdctions=model.predict_proba(test_data1)[:,1]
print(prdctions)

[0.09281854 0.42332923 0.09671075 0.11771267 0.59764028 0.17403036
 0.63519627 0.20401305 0.72573863 0.09258757 0.10607103 0.32795966
 0.93690641 0.07741467 0.85610017 0.82784643 0.21755284 0.14071159
 0.59726425 0.50704978 0.23496411 0.16900412 0.92626066 0.52349255
 0.86933137 0.04457375 0.9392702  0.13448334 0.37133569 0.06813435
 0.11680344 0.20420965 0.46286538 0.48920932 0.42276321 0.15162822
 0.63332947 0.70541168 0.12550408 0.12355531 0.0687372  0.45882327
 0.07536219 0.82846652 0.86088897 0.12489241 0.33865097 0.10602202
 0.83868241 0.49903867 0.47664554 0.270813   0.7752622  0.90491048
 0.2491607  0.06902295 0.09137522 0.12478587 0.08557062 0.95883781
 0.15882061 0.23668895 0.15413348 0.69738629 0.59019608 0.83112564
 0.72619715 0.33308379 0.45425586 0.78388269 0.68243375 0.14099944
 0.64350726 0.47529623 0.95270037 0.60175678 0.10612288 0.75231123
 0.24923439 0.68243375 0.15297847 0.26412161 0.30525109 0.10607103
 0.24594349 0.08511507 0.65936126 0.72631756 0.6330824  0.36754344
 0.64342161 0.10603042 0.88823965 0.10612288 0.50437204 0.12484235
 0.69657899 0.11037874 0.71204411 0.09740301 0.87022211 0.22826273
 0.10602202 0.12106088 0.64388068 0.11919122 0.14096723 0.10602202
 0.10634594 0.3317578  0.18536677 0.63310646 0.91134493 0.72228055
 0.85727347 0.12506649 0.10558171 0.75881712 0.45193403 0.80048986
 0.9015421  0.08328205 0.89944538 0.11362105 0.10602202 0.7007085
 0.13677192 0.51683375 0.17907134 0.12881749 0.10052335 0.27817446
 0.46325203 0.08292742 0.07063827 0.12873959 0.11900669 0.27633481
 0.69019665 0.02335121 0.42148336 0.94584411 0.22489129 0.2715821
 0.35997022 0.05113767 0.48117786 0.13687837 0.45882327 0.18063952
 0.94151789 0.10607103 0.04347909 0.49574397 0.05276762 0.12861865
 0.9626452  0.69004817 0.35997022 0.58384548 0.63306865 0.14849868
 0.84768457 0.10577021 0.18427382 0.57204192 0.33168827 0.07453908
 0.9252952  0.69831155 0.10595482 0.11718432 0.1069532  0.10584711
 0.02660737 0.85986404 0.8817361  0.23875273 0.70896426 0.76043211
 0.24923439 0.34181826 0.9410064  0.10602202 0.95050283 0.19123242
 0.84931568 0.09979111 0.14862469 0.18959254 0.18799074 0.45833905
 0.12936876 0.10066286 0.3449272  0.09734198 0.66582809 0.72612368
 0.29596384 0.63338094 0.63944229 0.19180037 0.42449184 0.87384474
 0.28159078 0.45811167 0.5938786  0.28872418 0.9184237  0.1248811
 0.10526039 0.10578698 0.39335719 0.57553787 0.23707594 0.37310114
 0.63318882 0.25628093 0.88313303 0.10612288 0.78773212 0.14106568
 0.86364515 0.1409565  0.84815776 0.54841568 0.13269237 0.6330824
 0.07842869 0.21203943 0.4113531  0.94463864 0.11120311 0.10606545
 0.35929711 0.14527328 0.19166137 0.14499646 0.82336759 0.87087614
 0.8390542  0.67532452 0.32014284 0.10606824 0.0617648  0.32799372
 0.86797065 0.12910175 0.80048986 0.57510329 0.88084755 0.14530445
 0.51843678 0.12932571 0.09941161 0.10595482 0.10602202 0.11390706
 0.87650635 0.14094757 0.07028739 0.14098158 0.78031138 0.75587385
 0.24906026 0.10607103 0.43555411 0.10595482 0.63332947 0.15918416
 0.36753191 0.10602202 0.94192959 0.5760092  0.1058457  0.84609849
 0.26084669 0.15801196 0.2073679  0.30330762 0.69066086 0.17756755
 0.6330824  0.70288639 0.7546678  0.08832633 0.10585409 0.4963677
 0.10584711 0.10612288 0.47033332 0.634638   0.10584711 0.22798082
 0.0889709  0.12110646 0.88561564 0.06813435 0.47792795 0.11035409
 0.10043521 0.24880702 0.15210752 0.12906142 0.6330824  0.70613245
 0.41178222 0.21672183 0.22296698 0.4467221  0.15455581 0.13653312
 0.10596321 0.57689277 0.88430646 0.73299899 0.28058598 0.32593944
 0.11741533 0.21581954 0.12106088 0.124623   0.27633481 0.43523361
 0.94594783 0.13238832 0.82849098 0.37080061 0.21616798 0.3126551
 0.65730656 0.38714344 0.1058457  0.62548112 0.11743062 0.46070831
 0.23636878 0.0564083  0.29689667 0.10584711 0.3336745  0.1003725
 0.0202449  0.9558803  0.0715236  0.73973517 0.27633481 0.56787539
 0.29091369 0.8275225  0.87420381 0.28159078 0.38503808 0.09730458
 0.73107957 0.29788037 0.74314978 0.10606545 0.10602202 0.57838051
 0.02041321 0.80447055 0.8275225  0.11771267 0.92641304 0.23113704
 0.08511621 0.72075696 0.87265214 0.25641989 0.2573884  0.94633038
 0.28605736 0.16901224 0.80576976 0.94444572 0.57569898 0.3115132
 0.27943028 0.06864587 0.10602202 0.1211002  0.63862435 0.66886038
 0.24737112 0.78998898 0.12870809 0.1142959  0.14093683 0.0976314
 0.58098826 0.83804044 0.1345854  0.15361864 0.04629309 0.94235008
 0.12849947 0.83525025 0.13676321 0.1036278  0.95313204 0.16509005
 0.93874642 0.59200885 0.2946574  0.32089078 0.24358487 0.34185061
 0.63305835 0.74380527 0.6330824  0.90338736 0.65137384 0.10612288
 0.92407172 0.08153032 0.10612288 0.0733963 ]

In [310]:
print(gender_submisson.PassengerId)

0       892
1       893
2       894
3       895
4       896
5       897
6       898
7       899
8       900
9       901
10      902
11      903
12      904
13      905
14      906
15      907
16      908
17      909
18      910
19      911
20      912
21      913
22      914
23      915
24      916
25      917
26      918
27      919
28      920
29      921
       ...
388    1280
389    1281
390    1282
391    1283
392    1284
393    1285
394    1286
395    1287
396    1288
397    1289
398    1290
399    1291
400    1292
401    1293
402    1294
403    1295
404    1296
405    1297
406    1298
407    1299
408    1300
409    1301
410    1302
411    1303
412    1304
413    1305
414    1306
415    1307
416    1308
417    1309
Name: PassengerId, Length: 418, dtype: int64

In [311]:
my_submission = pd.DataFrame({'PassengerId': gender_submisson.PassengerId, 'Survived': prdctions})

In [312]:
my_submission = [('PassengerId', gender_submisson.PassengerId),('Survived', model.predict_proba(test_features))      ]

my_submission = pd.DataFrame(my_submission)
my_submission.to_csv('my_submission.csv')